.popup__container {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  max-width: 430px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}

@media screen and (max-width: 993px) {
  .popup__container {
    min-width: 240px;
    min-height: 258px;
  }
}

@media screen and (max-width: 450px) {
  .popup__container {
    max-width: 282px;
  }
}
