.profile__edit {
  height: 24px;
  width: 24px;
  background: url("../../../images/edit-vector.svg") no-repeat;
  border: none;
  cursor: pointer;
  opacity: 1;

  background-size: cover;
  overflow: hidden;
}
.profile__edit:hover {
  transition: opacity 0.3s;
  opacity: 0.6;
}

@media screen and (max-width: 450px) {
  .profile__edit {
    height: 18px;
    width: 18px;
  }
}
