.popup__button {
  background: #000;
  border-radius: 2px;
  width: 358px;
  border: 0 solid;
  margin-top: 48px;
  margin-left: 0;
  padding: 14px 125px 18px 125px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  font-style: normal;
  text-align: center;
  color: #fff;
  opacity: 1;
  cursor: pointer;
}
.popup__button:hover {
  transition: opacity 0.3s;
  opacity: 0.8;
}
@media screen and (max-width: 450px) {
  .popup__button {
    width: 238px;
    margin-top: 45px;
    padding: 14px 82px;
    font-size: 14px;
    line-height: 17px;
  }
}


