.popup__name {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-style: normal;
  max-width: 330px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  margin-top: 0;
  margin-bottom: 24px;
}
@media screen and (max-width: 450px) {
  .popup__name {
    max-width: 238px;
    font-size: 18px;
    line-height: 21.78px;
    margin-bottom: 45px;
  }
}
