.elements {
  display: grid;
  /*margin: 0 200px 0 200px;*/
  margin: auto;
  list-style: none;
  grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;
  padding: 0;
  column-gap: 17px;
  justify-content: center;
  max-width: calc(100% - 200px*2);
}

@media screen and (max-width: 880px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: 36px auto 19px;
  }
}
@media screen and (max-width: 665px) {
.elements {
  grid-template-columns: 1fr;
}
}

