.button_save {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  font-style: normal;
  text-align: center;
  color: #fff;
  width: 109px;
  margin: 0;
  opacity: 1;
}
@media screen and (max-width: 450px) {
  .button_save {
    font-size: 14px;
    line-height: 17px;
    width: 74px;
  }
}
