.element__remove-icon {
    position: absolute;
    background: url("../../../images/Trashsvg-1.svg") no-repeat;
    right: 20px;
    top: 20px;
    width: 18px;
    height: 19px;
    opacity: 1;
  cursor: pointer;
  border: none;
  padding-top: 0;
    
}

.element__remove-icon:hover {
    transition: opacity 0.3s;
    opacity: 0.6;
  }