.profile__main-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .profile__main-content {
    flex-direction: column;
    margin-top: 0px;
  }
}
