.profile__avatar {
  border-radius: 50%;
  max-width: 120px;
  margin: 26.75px 3.75px;
  object-fit: cover;
}

@media screen and (max-width: 450px) {
  .profile__avatar {
    margin: 38.25px auto 22.25px auto;
  }
}
